body,h1,h2,h3,h4,h5,h6,ul,li,p,input,dd,dt,dl,tr,td{margin:0; padding:0;}
ul{list-style:none;}
.container{background-color:#BDB76B;position: relative;}
.container>div{border:1px solid #000;float: left;box-sizing: border-box;}
.container>span{border-radius:50%;display:block;position:absolute;z-index:1;}
.chess{border:1px solid #000;background-color:#BDB76B;}
